body{
    background: linear-gradient(135deg, #cacaca, #292929);
    background-color: gray;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #111827;
}

.login {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}


.formemail, .imgemail{
    display: flex;
    flex-direction: row;
}

.formpass, .imgolho{
    display: flex;
    flex-direction: row;
}

.formpass, .formemail {
    position: relative;
}

#email{
    width: 260px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid rgb(37, 37, 37);
    margin: 10px;
}

#password{
    width: 260px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid rgb(37, 37, 37);
    margin: 10px;
}

img{
    width: 25px;
    height: 25px;
}

.imgolho{
    position: absolute;
    right: 20px;
    top: 18px;
    cursor: pointer;
}

.imgemail{
    position: absolute;
    right: 20px;
    top: 18px;
}

.esqueci{
    position: relative;
    bottom: 60px;
}

button{
    position: relative;
    top: 40px;
    width: 115px;
    height: 38px;
    border-radius: 5px;
    border: none;
    background-color: gray;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

button:hover{
    background-color: black;
}

p, .cadastrar{
    display: flex;
    flex-direction: row;
}

#email:focus, #password:focus{
    border-color: #5c5c5c;
    box-shadow: 0 0 0 2px rgba(59, 59, 59, 0.2);
}

.logo img{
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: -60px;
}

::placeholder{
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 5px;
}